<table class="table table-striped">
    <tr>
        <th>Player</th>
        <th>Rank</th>
        <th>Score</th>
        <th>Time Played</th>
        <th>Game Played</th>
        <th>Status</th>
        <th></th>
    </tr>
    <tr *ngFor="let player of players | playerSearchFilter:searchText">
        <td class="tCell">{{player.name}}</td>
        <td class="tCell">{{player.rank}}</td>
        <td class="tCell">{{player.score}}</td>
        <td class="tCell">{{player.time_played}}</td>
        <td class="tCell">{{player.game_played}}</td>
        <td class="tCell">{{player.status}}</td>
        <td class="tCell">
            <button *ngIf="player.status == 'Availiable' && !isAdmin" routerLink='/joinplayer/{{player._id}}'>Join Game</button>
            <button *ngIf="isAdmin" routerLink='/updateplayer/{{player._id}}'>Update</button>
            <br *ngIf="isAdmin">
            <button *ngIf="isAdmin" (click)="onDelete(player, player._id)">Delete</button>
        </td>
    </tr>
</table>
