<div>
    <button class="leftButton" *ngIf='!isAdmin' routerLink='/adminLogin'>Login</button>
    <button class="leftButton" *ngIf='isAdmin' (click)='logout()'>Logout</button>
</div>
<div class="row" *ngIf="isAdmin">
    <button class="optionButton, col-sm-4" (click)='changeTable("players")' [class.selected]="table == 'players'">Players Rankings</button>
    <button class="optionButton, col-sm-4" (click)='changeTable("games")' [class.selected]="table == 'games'">Games</button>
</div>
<div>
    <button class="rightButton" *ngIf='isAdmin' routerLink='/addplayer'>Add Player</button>
    <button class="rightButton" *ngIf='isAdmin' routerLink='/addgame'>Add Game</button>
</div>
<div>
    <input #search class="searchBar" placeholder="search Bar" [(ngModel)]='searchText'>
</div>
<app-player-ranking *ngIf="table == 'players'" [isAdmin]='isAdmin' [searchText]='searchText'></app-player-ranking>
<app-games *ngIf="table == 'games'" [searchText]='searchText'></app-games>

