<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Platform</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>Publisher</th>
        <th>Release</th>
        <th>Status</th>
        <th></th>
    </tr>
    <tr *ngFor='let game of games | gameSearchFilter:searchText'>
        <td class="tCell">{{game.title}}</td>
        <td class="tCell">{{game.platform}}</td>
        <td class="tCell">{{game.genre}}</td>
        <td class="tCell">{{game.rating}}</td>
        <td class="tCell">{{game.publisher}}</td>
        <td class="tCell">{{game.release}}</td>
        <td class="tCell">{{game.status}}</td>
      <td class="tCell">
        <button routerLink='/updategame/{{game._id}}'>Update</button>
        <button (click)="onDelete(game, game._id)">Delete</button>
      </td>
    </tr>
</table>
