.table {
    border-style: solid;
    text-align: center;
    border-collapse: collapse;
    margin: 20px;
}
.tCell {
    border-top: solid;
    border-bottom: solid;
    border-collapse: collapse;
    padding: 5px;
}